.dashboard-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: -24px;
    height: 100%;
	
}


.dashboard-sidebar {
    background-color: #2a3f54;
    padding-top: 20px;
    min-height: 100vh;
}

.sidebar-content {
   color: #e7e7e7;
   font-size: 13px;
   font-weight: 500;
   padding-left: 15px;
}

.sidebar-content .fa {
	font-size: 14px;
    padding-left: 0px;
    width: 20px;
}
#admin-navbar{
 background-color: #42beef;   

}

.sidebar-div {

	padding: 10px 15px;
}

.sidebar-div:hover {
  cursor: pointer;
}

.sidebar-div-caret {
	display: flex;
	justify-content: space-between;
}

.user-welcome {
	color: white;
	line-height: 22px;
}

.dashboard-body {
  margin-bottom: 50px;
}


.dashboard-body .row {

	margin-top: 2%;
}

.dashboard-content-section {
	background-color: white;
	padding: 10px;
	height: 310px;
  border-radius: 5px;

}


.sidebar-content a {
   color: inherit;
   text-decoration: none;
}

.last-transactions {
	padding-top: 7px;
}

.each-transaction {
	border-bottom: 1px solid #d8d8d8;
	padding: 10px 0px;
}


.sub-menu li {
	list-style-type: none;
	padding: 8px 0px;
	font-weight: 12px;
}

.sub-menu {
	padding: 10px 0px 0px 37px;
	margin-bottom: 5px;
}


.dashboard-menu-active {

	text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
}


.table thead th {
    
    border-bottom: 1px solid #f5f5f5 !important;
    padding: 10px 10px !important; 
    border-top: 0px !important;
    opacity: 0.8 !important;
}

.table td, .table th {
    
    border-top: 1px solid #f5f5f5 !important;
}

tbody tr td {
	opacity: 0.8 !important;
}


.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    
    text-indent: -999999px;
   
	width: 27px;
}

.badgebox:focus + .badge
{
    
    box-shadow: inset 0px 0px 5px;
   
}

.badgebox:checked + .badge
{
    
	text-indent: 0;
}

.profile-header {
  background-color: #ffffff;
  width: 100%;
  height: 90px;
  color: #333;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 6px solid #42beef;
  border-bottom: 1px solid #d8d8d8;


}


.profile-details p {
  padding-top: 9px;
    opacity: 0.8;
}

.investment-header {
  text-align: left;
  padding-bottom: 0px;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
  color: #333;
}

.section-heading {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  padding-bottom: 10px;
}

.heading {

  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #333;
}

.transactions-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75px;
  background-color: white;
  padding: 0px 15px;
  border-radius: 5px;
}

.transactions-sub-header {
  display: flex;
  justify-content: flex-start;
  
}


.transactions-sub-header>div {
  padding-right: 15px;
}

.search-transactions {
  margin-top: -3px;
}


#search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#search-input input{
    border: 0;
    box-shadow: none;
}

#search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#search-input .glyphicon-search{
    font-size: 23px;
}


.category-withdrawal {
    background-color: #c9f3f8;
    color: #2ba1c7;
    border-radius: 15px;
    padding: 3px 15px !important;
   font-size: 12px;
    display: inline-block;
   text-align: center;
   width: 94px;
   
   
}

.category-deposit {
   background-color: #c7f6ca;
   color: #44ce82;
   border-radius: 15px;
   padding: 3px 15px !important;
   font-size: 12px;
   display: inline-block;
   text-align: center;
   width: 94px;
   
}


.filter-transactions{
    padding: 6px 18px;
    color: #999;
    border: 1px solid #999;
    border-radius: 5px;
}

.export-transactions {

    padding: 6px 18px;
    color: #fff;
    border: 1px solid #42beef;
    border-radius: 5px;
    background: #42beef;
}


.transactions-body {

  background-color: white;
  padding: 10px 0px;
  border-radius: 5px;
  margin-top: 25px;
}


.view-all {
  text-align: right;
  padding: 0px 15px 15px 15px;
  color: #333;
  font-weight: 14px;
}

.view-all a{
  color: #333;
  text-decoration: none;
}

.view-all a:hover {
  color: #42beef;
}

.dashboard-body i.fa {
  padding-left: 0px;
  font-size: 15px;
}


@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;

}


.payment-method-header {

  padding: 0px 15px 15px;
  border-bottom: 1px solid #f5f5f5;
}

.payment-method-header img{

    display: inline-block;
    height: 22px;
    width: 22px;
    margin-top: -5px;

  }


.payment-method-body {

  padding: 15px;
}


.payment-method-body p{
   margin-top: 20px;
   text-align: center;
}

.payment-method-body span {

  padding: 10px 22px;
  border: 1px solid #999;
}

.dashboard-content-section.col-md-6 a{
   color: inherit;
}



.readonly .form-control:disabled, .form-control[readonly] {
  background-color: white !important;
}

.readonly {
  opacity: 0.9;
}

.yellowtop-border {
  border-top: 6px solid #FFC258;
}

.bluetop-border {

  border-top: 6px solid #42beef;
}

.disabledtop {

  border-top: 6px solid #c9f3f8
}

.expecting {

    margin-top: 30px;
    color: white;
    background-color: #42beef;
    font-size: 22px;
    text-align: center;
    padding: 25px 0px;
    margin-bottom: -19px;
}


.dashboard-content-section #register-form {

      display: flex;
     margin: 30px 0px;
    justify-content: center;
}

.table-header {
  font-weight: 600
}

.user-header {
  padding:  12px 20px;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px
}

.admin-plan-option {
    position: relative;
    display: flex;
    height: auto;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px;
    background: #FFFFFF;
    box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.08);
    margin: 15px;
    border-radius: 5px;
    height: 260px;
}

.admin-plan-option .text-heading {

    background: #42beef;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 15px;

}

.admin-plan-option .text-content {
  padding: 0px 10px 25px;
}

.toggle_admin_plans {
  background: white;
  padding: 25px;
  border-radius: 5px;
  margin: 15px;
}

.toggle_admin_plans div {
    padding-bottom: 20px;
}


.toggle_admin_plans span {
  padding: 7px 25px;
  background-color: #42beef;
  color: white;
  border-radius: 5px
}

.toggle_admin_plans span:hover {
  cursor: pointer;
}


.total-bonus {
  position: relative;
  bottom: -4px;
}

.payment-method {
 margin: 0px 20px 20px 0px;
}

.payment-method:hover {
    box-shadow: 0px 0px 6px #d8d8d8;
}


/* BEGIN MODAL STYLES */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* END MODAL STYLES */




/* Dashboard responsive queries */


@media only screen and (max-width: 1000px) and (min-width: 767px)  {
    
.heading {
  font-size: 17px;
  
}

.payment-method {
 margin: 0px 20px 0px 0px;
}


    
}


@media(max-width:766px) {

.transactions-sub-header {
  display: flex;
  justify-content: flex-start;
  
  
}

.hide-mobile {
  display: none;
}


.transactions-sub-header>div {
  padding-right: 15px;
}

.search-transactions {
  margin-top: 3px;
}


.transactions-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    background-color: white;
    padding: 20px 15px;
    border-radius: 5px;
}

.heading {
  font-size: 16px;
}

.payment-method {
 margin: 0px 0px 20px 0px;
}

}
    



