#app {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

a {
    color: #1abb9c;
    text-decoration: none !important;
}
a:hover {
    color: #1abb9c;
}

body {

    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

#xtable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#xtable td, #xtable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#xtable tr:nth-child(even){background-color: #f2f2f2;}

#xtable tr:hover {background-color: #ddd;}

#xtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.card-header{
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.small-top-padding{
    padding-top: 70px;
}

i.fa{
    padding-left: 40px;
    font-size: 20px;
}


.form-submit {
    margin: 20px auto;
    padding-top: 0px
}

.btn-primary {

    background-color: #1abb9c;
    border-color: #1abb9c;
}

.btn-primary:hover {

    background-color: #5fe0c7;
    border-color: #5fe0c7;
}

.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0rem rgba(0,123,255,.5);
    box-shadow: 0 0 0 0rem rgba(0,123,255,.5);
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {

    background-color: #42beef;
    border-color: #42beef;
}

.form-header {
    height: 190px;
    background-color: #8b104e;
    margin-top: -23px;
}

.form-card {
    border-top: 6px solid #1abb9c;
    margin-top: -70px;
    margin-bottom: 70px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.form-heading {
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding-top: 30px;
}

.form-meta {
    text-align: center;
    font-size: 13px
}

.form-card .btn {
    padding: .375rem 1.75rem;
}

.btn {
    padding: .375rem 1.75rem;
}

/*.minimal-card {
    max-width: 500px;
    margin: 0 auto;
}
*/


.form-control:focus {

    -webkit-box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}



/* homepage */

.hero {

    height: 480px;
    background-image: url("../images/herobg.png");
    background-repeat: no-repeat;

}

.hero-body {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 7% 15px
}

.no-padding {
    padding: 0px;
    margin-top: -23px;
}

.hero-text .heading {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 35px;
    line-height: 50px;
}

.better::after {
    content: '';
    position: absolute;
    background: #1abb9c;
    width: 100px;

    height: 6px;
    bottom: 53px;
    left: 73px;
}


.secure::after {
    content: '';
    position: absolute;
    background: #1abb9c;
    width: 116px;

    height: 6px;
    bottom: 53px;
    left: 267px;
}

.hero-text .sub-heading {
    max-width: 320px;
    padding-top: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 16px;
    color: #666666;
}

.hero-text .button {
    padding-top: 20px;
}


.hero-text .button .btn {
    padding: .475rem 2.25rem;
}

.particles-js-canvas-el {
    position: absolute;
    width: 50% !important;
    height: 480px !important;
}
.welcome-header i{
    float:right;
    margin:15px 30px;
    
}
.welcome-header h3{
    text-align:right;
    font-size:22px;
    line-height:28px;
    font-weight:600;
    text-transform:uppercase;
    color:#1abb9c;
    width: 100%;
}
.tbc-discover{
    margin:30px 0px;
    text-align:right;
    padding-top:20px; 
    border-top:2px solid #f1f7fb;
}
.tbc-discover a{
    font-weight:600;
    font-size:16px;
}

.about-home {
    background: #fafafa;
    padding: 5% 0px 150px;
}

.section-header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 24px;
    color: #1abb9c;
    text-align: center;
    padding-bottom: 15px
}

.text-heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding-bottom: 15px
}

.about-home .subheading {
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 15px;
    color: #333333;
    max-width: 800px;
    line-height: 1.6;
    margin: 0 auto;
}

.up45px {
    padding-top: 45px;
}

.about-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: white;
    height: 260px;
    box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin: 10px;
    width:33%;


}

.about-features .icon {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #8b104e;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 25%;
    color: white;
}

.about-features .text {
    padding: 15px;
    width: 75%;
}

.plans-text-heading {
    font-family: 'Poppins', sans-serif;
    margin-top: -60px;
    padding-bottom: 40px;
}



.text-content {
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #333
}




.skew {
    position: relative;
}
.skewed-border:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -66px;
    height: 200px;
    background: #8b104e;
    transform: skew(0,-5deg);

}

.plans-home {
    background-color: #8b104e;
    position: relative;
    padding: 4% 0px;
    padding-bottom: 90px;
}

.plan-option {
    position: relative;
    display: flex;
    height: auto;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 15px;
   /* border: 2px solid #FFC258;*/
    background: #FFFFFF;
    margin: 10px;
    -webkit-box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    -webkit-transition-property: color,background-color,-webkit-box-shadow,-webkit-transform;
    transition-property: color,background-color,-webkit-box-shadow,-webkit-transform;
    transition-property: color,background-color,box-shadow,transform;
    transition-property: color,background-color,box-shadow,transform,-webkit-box-shadow,-webkit-transform;
    -webkit-transition-duration: .15s;
    transition-duration: .15s
}

.plan-option .icon{
    display:block;
    margin:15px auto;
}
.plan-option .icon i{
    font-size:30px;
    color:#5f1854;
}

.plan-option img {
    display: block;
    margin: 15px auto;
    height: 50px !important;

}


.plan-action {
    margin-top: auto;
    padding-bottom: 20px;
}

.plan-action .active, .plan-action a:hover {
    background: #FFC258;
    border-radius: 5px;
    color: #000000;
    padding: 8px 20px;
}

.plan-action a {
    background: #fff;
    border-radius: 5px;
    color: #000000;
    border: 1px solid #FFC258;
    padding: 8px 20px;
}

.testimonials {
    background-color: #Ffffff;
    position: relative;
    z-index: 3;

}

.leadership-board {
    position: relative;
    z-index: 3;
    background-color: #fafafa;
    padding-bottom: 50px;
    padding-top: 60px;
    border-top: 1px solid #f1f1f1;

}

.leadership-board ol {
    padding-left: 0px;
}

.each-leader {
    box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.08);
    margin: 10px;
    padding: 20px;
    border-right: 2px solid #42beef;
    text-transform: capitalize;
    background-color: white;
}

.become-a-leader {

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 15px;
}

.leader-cta {

background-color: #ffffff;
height: 209px;
box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.08);
border-left: 2px solid #42beef;
margin: 10px;
padding: 20px;

}







.testimonial {

    padding: 4% 0px;
    background-color: #42beef;


}


.single-testimonial {

    color: white;
    max-width: 740px;
    padding: 0px 20px;
    margin: 0 auto;
}

.quote-symbol img {
    margin-top: -10px;
}

.testimonials .author  {
    margin-top: 15px;
}

.testimonials .author img {
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonials .author .text-content {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-top: 10px;
}

.skewed-border-two:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    height: 90px;
    z-index: 0;
    background: #fafafa;
    transform: skew(0,-2deg);
}

.sign-up {
    padding: 7% 0px 4%;
    background-color: #ffffff;
}

.sign-up .row {
    margin: 0 auto;
    max-width: 760px;
}

.sign-up .buttons {
    padding-top: 20px;
}

.sign-up .login {

    border: 1px solid #1abb9c;
}

.sign-up .login:hover {
    background-color: #1abb9c;
    border: 1px solid #1abb9c;
    color: white;

}

.footer {
    padding: 3% 0px 2%;
    background-color: #373737;
    color: white;
    text-align: center;
}

.footer-logo {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    max-width: 110px;
    margin: 0 auto;
}

.footer-socials i.fa {
    padding-left: 0px;
    font-size: 16px;
    color: #373737;
    background-color: white;
    padding: 9px;
    height: 30px;
    width: 30px;
    border-radius: 50%;

}

.footer-socials i.fa:hover {

    color: #ffffff;
    background-color: #42beef;


}

.flex-box {
    display: flex;
}

.flex-box .plan-option {
    width: 33%;
}

.plan-option .text-content {
    padding-bottom: 30px;
}

.footer-copyright {

    padding-top: 15px;
}


/* modal */

.new-modals {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.new-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-bottom: 30px;
    padding: 0;
    border: 1px solid #888;
    max-width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close-about-modal, .close-faq-modal, .close-terms-modal {
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 30px auto;
    cursor: pointer;
}


.new-modal-header {
    padding: 20px 16px;
    background-color: #42beef;
    color: white;
    text-align: center;
}

.new-modal-header .heading {
    color: white;
}

.new-modal-body {
    padding: 2px 16px;
    padding-top: 15px;
}

.new-modal-footer {
    padding: 2px 16px;
    background-color: #42beef;
    color: white;
}

.close-container {
    display: flex;
    justify-content: center;
}

.new-modal-content .text-heading {
    text-align: left;
    padding: 15px 0px;
}

.open_terms_register_modal {
    cursor: pointer;
}


/* FAQ */


.ac-container {
    max-width: 100%;
}

.ac-container label {
    height: auto !important;
    line-height: 21px !important;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: #fff;
    background: -moz-linear-gradient(top,#fff 1%,#eaeaea 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#fff),color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top,#fff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top,#fff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top,#fff 1%,#eaeaea 100%);
    background: linear-gradient(top,#fff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff',endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 0 0 0 1px rgba(155,155,155,0.3),1px 0 0 rgba(255,255,255,0.9) inset,0 2px 2px rgba(0,0,0,0.1);
    font-size: 12px;
    line-height: 20px;
}

.ac-container {
    width: 100%;
    margin: 10px auto 30px auto;
    text-align: left;
}

.ac-container label:hover {
    background: #fff;
}

.ac-container input:checked + label,.ac-container input:checked + label:hover {
    background: #f1f2f3;
    color: #666;
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
    box-shadow: 0 0 0 1px rgba(155,155,155,0.3),0 2px 2px rgba(0,0,0,0.1);
    height: 30px;
    line-height: 21px;
    font-size: 13px;
}

.ac-container label:hover:after,.ac-container input:checked + label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    
}

.ac-container input:checked + label:hover:after {
    
}

.ac-container input {
    display: none;
}

.ac-container article {
    background: rgba(255,255,255,0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
}

.ac-container article p {
    font-style: normal;
    color: #777;
    line-height: 23px;
    font-size: 10px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    font-size: 14px;
}

.ac-container input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    box-shadow: 0 0 0 1px rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article.ac-small {
    height: auto !important;
}

.ac-container input:checked ~ article.ac-medium {
    height: auto !important;
}

.ac-container input:checked ~ article.ac-large {
    height: auto !important;
}

/* Responsive css */




@media only screen and (max-width: 1000px) and (min-width: 767px)  {
    
    .flex-box .plan-option {
    width: 50%;
    height: auto;

}


.flex-box {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.plan-option .text-content {
    padding-bottom: 30px;
}

.hero {

    height: 300px;
    background-image: none;
    background-color: white;

}

.particles-js-canvas-el {
    position: absolute;
    width: 100% !important;
    height: 300px !important;
}

.leader-cta {


height: auto;


}

.about-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: white;
    height: auto;
    box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin: 10px;
    width:100%;
}

.new-modal-content {
    
    max-width: 95%;
    
}

    
}


@media(max-width:766px) {

.flex-box .plan-option {
    width: 100%;
    height: auto;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.plan-option .text-content {
    padding-bottom: 30px;
}

.sign-up {
    padding: 20% 0px 10%;
    background-color: #f8fbfa;
}

.hero {

    height: 300px;
    background-image: none;
    background-color: white;

}

.hero-body {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15% 15px
}

.hero-text .heading {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 30px;
}

.better::after {
    
    display: none;
}


.secure::after {
    
    display: none;
}

.hero-text .sub-heading {
    
    font-size: 14px;
    
}

.hero-text .button {
    padding-top: 20px;
}


.hero-text .button .btn {
    padding: .475rem 2.25rem;
}

.particles-js-canvas-el {
    position: absolute;
    width: 100% !important;
    height: 300px !important;
}

.about-home {
    background: #fafafa;
    padding: 12% 0px 150px;
}


.section-header {
    
    font-size: 18px;
    
}

.leader-cta {


height: auto;


}

.footer {
    padding: 10% 0px 10%;
}

.sign-up .section-header {
    max-width: 95%;
    margin: 0 auto;
}

.about-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: white;
    height: auto;
    box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin: 10px;
    width:100%;


}

.new-modal-content {
    
    max-width: 95%;
    
}

}
  
.dropdown-menu {
    padding:  0px; 
}  

.dropdown-item:active {
    background-color: #42beef;
}

.welcome-text p{
    text-align: right;
    line-height:28px;
    font-size:17px;
    width:100%;
    font-weight:400;
    margin-top:-70px
}
/*** Package table ****/

#tabs-package{
    text-align:center;
}
.package-name span{
    font-weight:600;
    font-size:18px;    
}
#tabs-package .col-md-4, #tabs-package .col-md-6{
   
    padding:10px;
    border-radius:5px;
}
#tabs-package #pills-tab{
    
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#97004E
}
.explore-plans .col-md-12{
    text-align:center;
    margin:15px 0;
}
.explore-plans{
    padding:30px 0;
}
.package-price .dollar{
    font-size:46px;
    font-weight:600;    
}
.package-price{
    margin-top:10px;
    color:#97004E
}
.package-price .per-investment{
    display:block;
}
.package-admin, .cashout .cash-out{
    font-size:18px;
    font-weight:600;
    display: block;
    margin:10px;
}
.package-admin .dollar{
    display:block;
}
.admin-fee{
    margin:0px 10px;
    font-size:18px
}

.after-120{
    margin:15px auto;
    font-size:16px;
    font-weight:700;
}




/* end of homepage */